@import "../app/vars.scss";

// Ант стили
.ant-card {
	width: 455px;

	@media (max-width:490px) {
		width: 400px;
	}

	@media (max-width:425px) {
		width: 320px;
	}
}

.form-serch-movie {
	@media (max-width:375px) {
		width: 320px;
	}
}

.ant-card-body {
	display: flex;
	box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.225);
	border-radius: 0px !important;
	padding: 0px !important;
}

.ant-card-bordered {
	border: 0px
}

.ant-rate {
	font-size: 16px;
	margin-top: 4px;

	@media (max-width:500px) {
		margin-left: auto;
	}

}

// Пользовательские стили
.movie-card {
	position: relative;
	padding: 12px;

	@media (min-width: 500px) {
		padding: 12px 16px !important;
	}



	&__img {
		@media (max-width:500px) {
			position: absolute;
			top: 10px;
			left: 10px;
			width: 60px;
			height: 90px;
		}

		position: relative;
		flex: 0 0 40.6%;
		height: 279px;
		margin-right: 10px;

		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
			position: absolute;
			top: 0;
			left: 0;
		}
	}

	&__description {
		padding: 10px;
		max-height: 279px;
		overflow: hidden;
	}
}

.discription-card {
	display: flex;
	flex-direction: column;
	position: relative;

	&__titile {
		font-size: $titleSize;
		margin-bottom: 7px;
		line-height: 28px;
		font-weight: 500;
		max-height: 28px;
		max-width: 190px;
		overflow: hidden;

		@media (max-width:500px) {
			margin-left: 70px;
		}

	}

	&__sub-titile {
		color: $subTitleColor;
		margin-bottom: 9px;
		line-height: 22px;

		@media (max-width:500px) {
			margin-left: 70px;
		}
	}

	&__genres {
		position: relative;
		display: flex;
		flex-wrap: wrap;

		@media (max-width:500px) {
			margin-left: 70px;
		}

		span {
			margin-bottom: 5px;
		}
	}

	&__text {
		line-height: 22px;
		overflow: hidden;
		max-height: 129px;
		flex: 1 1 auto;
	}
}

.rating {
	height: 30px;
	font-size: 12px;
	position: absolute;
	z-index: 9999;
	right: 10px;
	top: 10px;

	&__text {
		display: inline-flex;
		align-items: center;
		justify-content: center;
		font-size: 12px;
		border-radius: 50%;
		width: 30px;
		height: 30px;
	}

	&__color-red {
		border: 2px solid #E90000;
	}

	&__color-orange {
		border: 2px solid #E97E00;
	}

	&__color-yellow {
		border: 2px solid #E9D100;
	}

	&__color-green {
		border: 2px solid #66E900;
	}
}