.offline-message {
	display: flex;
	position: fixed;
	top: 10px;
	left: 50%;
	transform: translateX(-50%);
	min-width: 360px;
	min-height: 50px;
	background-color: red;
	color: white;
	padding: 10px 5px;
	border-radius: 5px;
	z-index: 5;
	opacity: 0.6;
}

.offline-message-button {
	position: absolute;
	width: 25px;
	height: 25px;
	color: white;
	background-color: red;
	top: 5px;
	right: 5px;
}

.hide {
	display: none;
}